@import "tailwindcss";
@source inline("bg-interiqoPurpleShade scale-110");
@variant dark (&:where(.dark, .dark *));


@font-face {
    font-family: Avant;
    src: url("src/assets/fonts/itc-avant-garde-std-md.ttf") format("truetype");
}
@font-face {
    font-family: Tiro;
    src: url("src/assets/fonts/TiroBangla-Italic.ttf") format("truetype");
}

@font-face {
    font-family: DMSans;
    src: url("src/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@keyframes draw {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}


@keyframes wave {
  0%, 60%, 100% { transform: translateY(0); }
  30% { transform: translateY(-6px); }
}

.dot-1 { animation: wave 1.2s infinite; }
.dot-2 { animation: wave 1.2s infinite 0.2s; }
.dot-3 { animation: wave 1.2s infinite 0.4s; }


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease-out;
}

.animate-draw {
  animation: draw 1.6s ease forwards;
}

@theme {
  --shadow-interiqo-purple: 0 4px 24px 0 rgba(88, 5, 255, 0.08);

    
    --font-avant: Avant, "sans-serif";
    --font-tiro: Tiro, "sans-serif";
    --font-DMSans: DMSans, "sans-serif";
    --color-tooltip: #4C4C4C;
    --color-interiqo-purple-100: #AD85FF;
    --color-interiqo-purple-200: #8E56FF;
    --color-interiqo-purple-300: #6A20FF;
    --color-interiqo-purple-400: #5805FF;
    --color-interiqo-purple-500: #4901DA;
    --color-interiqo-purple-600: #3F01BC;
    --color-interiqo-purple-700: #34009D;
    --color-interiqo-purple-800: #2B0080;
    --color-interiqo-purple-900: #220163;
    --color-interiqo-black-100: #7F7F7F;
    --color-interiqo-black-200: #666666;
    --color-interiqo-black-300: #4C4C4C;
    --color-interiqo-black-400: #191919;
    --color-interiqo-black-500: #000000;
    
}
